# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\知识回顾-Java开发\论文材料\论文编写\个人博客系统\2-springboot+vue技术全\aurora-master\aurora-springboot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
